<h1 class="title">Tu Carrito: {{user.cart}}</h1>

{{#each cart.products}}
    <div class="productList">
        <h2>{{this.product.description}}</h2>
        <p>Categoria: {{this.product.category}}</p>
        <p>Precio: {{this.product.price}}</p>
    </div>
    <br><br>
{{/each}}

<button class="btn" style="margin: 1rem;" onclick="purchaseCart('{{user.cart}}')">Confirmar Compra</button>

<script src="/js/products.js"></script>