
<div class="productList">
    <h1 class="title"> Bienvenido {{user.name}}</h1>
    <h2>Credenciales</h2>
    <p>Usuario: {{user.name}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>ID Carrito: {{user.cart}}</p>
    <p>Rol: {{user.role}}</p>
    <br/>
    <a href="/api/sessions/logout"><button class="btn">Cerrar Sesion</button></a>
</div>

<h2>Carrito</h2>
{{#each cart.products}}
    <p>{{product.description}} 
        Cantidad {{this.quantity}} ${{this.product.price}}
        <button class="btn" onclick="deleteFromCart('{{../user.cart}}','{{this.product._id}}')">Eliminar</button> 
    </p>
{{/each}}
<button class="btn" onclick="purchaseCart('{{user.cart}}')">Finalizar Compra</button>

<h1 class="title">Productos</h1>
<div class="productListContainer">
    {{#each products}}
        <ul class="productList">
            <li>Nombre: {{this.title}}</li>
            <li>Descripcion: {{this.description}} </li>
            <li>Precio: ${{this.price}} </li>
            <li>Stock: {{this.stock}}</li>
            <br/>
            <button class="btn" onclick="addToCart('{{../user.cart}}','{{this._id}}')">Add to cart</button>
        </ul>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}

<script src="/js/products.js"></script>