
<div class="productList">
    <h1 class="title"> Bienvenido {{this.user.name}}</h1>
    <h2>Credenciales</h2>
    <p>Usuario: {{this.user.name}}</p>
    <p>Correo: {{this.user.email}}</p>
    <p>Edad: {{this.user.age}}</p>
    <p>ID Carrito: {{this.user.cart}}</p>
    <p>Rol: {{this.user.role}}</p>
    <br/>
    <a href="/api/sessions/logout"><button class="btn">Cerrar Sesion</button></a>
</div>

<div>
    <h2>Cart</h2>
    {{#each cart.products}}
        <p>{{this.product.description}} Cantidad {{this.quantity}} ${{this.product.price}}
        <button onclick="deleteFromCart('{{../user.cart}}','{{this.product._id}}')">Remover</button> </p>
    {{/each}}
    <button onclick="purchaseCart('{{user.cart}}')" class="btn">Realizar Compra</button>
</div>

<h1 class="title">Productos</h1>
<div class="productListContainer">
    {{#each products}}
        <ul class="productList">
            <li>Nombre: {{this.title}}</li>
            <li>Descripcion: {{this.description}} </li>
            <li>Precio: ${{this.price}} </li>
            <li>Stock: {{this.stock}}</li>
            <br/>
            <button onclick="addToCart('{{../user.cart}}', '{{this._id}}')" class="btn">Agregar al carrito</button>
        </ul>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}

<script src="/js/products.js"></script>