<h1 class="title">Products</h1>

<div class="productListContainer">
    {{#each products}}
        <ul class="productList">
            <li>Nombre: {{this.title}}</li>
            <li>Descripcion: {{this.description}} </li>
            <li>Precio: ${{this.price}} </li>
            <button>Agregar al carrito</button>
        </ul>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}