<h1 class="title">Lista de Productos</h1>

<div class="productListContainer" id="cardProducts">
    {{#each products}}
        <ul class="productList">
            <li>Nombre: {{this.title}}</li>
            <li>Descripcion: {{this.description}} </li>
            <li>Precio: ${{this.price}} </li>
            <li>Stock Restante: {{this.stock}}</li>
            <li>Categoria: {{this.category}}</li>
            <li>{{this.thumbnails}}</li>
            <li>Codigo: {{this.code}}</li>
            <li>ID: {{this._id}}</li>
            <button onclick="deleteProduct('{{this._id}}')">Borrar</button>
        </ul>
    {{/each}}
</div>

<div class="formContainer">
    <h1 class="title">Agregar un nuevo producto</h1>

    <form action="/api/products" method="POST" class="form" id="formAddProduct">
        <p>Formulario de Creacion de Producto</p>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title" required>

        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="Description" required>

        <label for="code">Code</label>
        <input type="text" id="code" name="code" placeholder="Code" required>

        <label for="stock">Stock</label>
        <input type="number" min="0" id="stock" name="stock" placeholder="Stock" required>

        <label for="stock">Price</label>
        <input type="number" min="0" id="price" name="price" placeholder="Price" required>

        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="Category" required>

        <label for="thumbnails">Thumbnails</label>
        <input type="text" id="thumbnails" name="thumbnails" placeholder="Thumbnails" multiple>

        <button class="btnSubmit" type="submit">Crear Producto</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>